body {
    font-family: 'Russo One', sans-serif;
    font-size: 28px;
    margin: 0;
    padding: 0;
}

header {
    font-size: 56px;
    background-image: url("../PVPImages/Diagrams/Home\ Page\ Image2.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border: 3px black solid;
    height: 400px;
    width: auto;
    text-decoration: underline;
    color: white;
    text-align: center;
    line-height: 500%;
}

h1 {
    font-size: 48px;
    text-decoration: underline;
    margin: auto;
    width: 1000px;
    text-align: center;
}

h2 {
    font-size: 40px;
    text-decoration: underline;
    margin-left: 10px;
    text-align: center;
}

section {
    margin: auto;
    width: 1080px;
    height: auto;
    text-align: justify;
}

@media screen and (max-width: 1080px) {
    header {
        font-size: 30px;
        height: 200px;
    }

    h1 {
        width: 780px;
        font-size: 40px;
    }

    h2 {
        font-size: 32px;
    }

    section {
        width: 780px;
    }
}

@media screen and (max-width: 800px) {
    header {
        font-size: 30px;
        height: 150px;
    }

    h1 {
        width: 580px;
        font-size: 32px;
    } 

    h2 {
        font-size: 28px;
    }

    section {
        width: 580px;
        font-size: 20px;
    }
}

@media screen and (max-width: 600px) {
    header {
        font-size: 24px;
    }

    h1 {
        width: 380px;
        font-size: 28px;
    }

    section { 
        width: 380px;
        font-size: 18px;
    }
}

@media screen and (max-width: 480px) {
    header {
        font-size: 20px;
        height: 110px;
        line-height: 50px;
    }

    h1 {
        width: 350px;
        font-size: 24px;
    }

    h2 {
        font-size: 24px;
    }

    section {
        width: 90%;
        font-size: 16px;
    }
}

@media screen and (max-width: 380px) {
    header {
        font-size: 20px;
        height: 100px;
        line-height: 50px;
    }

    h1 {
        width: 300px;
        font-size: 20px;
    }

    h2 {
        font-size: 16px;
    }

    section {
        width: 300px;
        margin: auto;
        font-size: 14px;
    }
}
