.TPs{
    color: CadetBlue;
}

.Item{
    color: chartreuse;
}

.Ability{
    color: blueviolet;
}

.Loomian{
    color: darkred;
}

.Attack{
    color: darkgreen;
}

.Summary{
    color: deeppink;
}