img{
    margin: auto;
    position: relative;
    top: 10px;
    margin-bottom: 20px;
    width: 600px;
    height: auto;
    border: 3px solid #000000;
    border-radius: 5px;
    display: block;
}

.panel {
    margin: auto;
    margin-top: 20px;
    display: block;
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 1200px;
    border: none;
    text-align: left;
    outline: none;
    font-family: "Russo One", sans-serif;
    font-size: 24px;
    transition: 0.4s;
    margin-bottom: 10px;
}

.active, .panel:hover {
    background-color: #ccc;
}

.panel2 {
    margin: auto;
    padding: 0 18px;
    background-color: white;
    display: none;
    overflow: hidden;
    width: 1200px;
}

#Terminology{
    width: 1200px;
    margin: auto;
    display: block;
    text-decoration:double;
}

#term{
    background-color: #ccc;
    height: auto;
    padding: 10px;
}
@media screen and (max-width: 1080px) {
    .Article{
        width: 600px;
    }

    img{
        width: 600px;
        display: none;
    }

    .panel{
        width: 600px;
    }

    .panel2{
        width: 600px;
    }

    #Terminology{
        width: 600px;
    }

}

@media screen and (max-width: 600px) {
    .Article{
        width: 275px;
    }

    .img{
        width: 275px;
        display: none;
    }

    .panel{
        width: 275px;
    }

    .panel2{
        width: 275px;
    }

    #Terminology{
        width: 275px;
    }
}