img {
    margin: auto;
    position: relative;
    top: 10px;
    margin-bottom: 20px;
    width: inherit;
    height: auto;
    border: 3px solid #000000;
    border-radius: 5px;
    display: block;
}

.panel {
    margin: auto;
    margin-top: 20px;
    margin-bottom: 10px;
    display: block;
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 1020px;
    height: auto;
    border: none;
    text-align: left;
    font-family: "Russo One", sans-serif;
    font-size: 24px;
}

.active, .panel:hover {
    background-color: #ccc;
}

.panel2 {
    margin: auto;
    background-color: white;
    display: none;
    width: 1020px;
}

section {
    width: auto;
    margin: auto;
    display: block;
    text-decoration:double;
}

.term {
    background-color: #ccc;
    width: 1020px;
    height: auto;
    margin: auto;
    padding: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
}

@media screen and (max-width: 1080px) {
    .Article {
        width: 780px;
    }

    img {
        width: 780px;
    }

    .panel {
        width: 780px;
        font-size: 20px;
        padding: 18px;
    }

    .panel2 {
        width: 780px;
        font-size: 20px;
    }

    .term {
        width: 780px;
        font-size: 20px;
    }
}

@media screen and (max-width: 800px) {
    .Article {
        width: 580px;
    }

    img {
        width: 580px;
        height: auto;
    }

    .panel {
        width: 580px;
        font-size: 18px;
        padding: 16px;
    }

    .panel2 {
        width: 580px;
        font-size: 18px;
    }

    .term {
        width: 580px;
        font-size: 18px;
    }
}

@media screen and (max-width: 600px) {
    .Article {
        width: 380px;
    }

    img {
        width: 380px;
        height: auto;
    }

    .panel {
        width: 380px;
        font-size: 16px;
        padding: 14px;
    }

    .panel2 {
        width: 380px;
        font-size: 16px;
    }

    .term {
        width: 380px;
        font-size: 16px;
    }
}

@media screen and (max-width: 480px) {
    .Article {
        width: 340px;
    }

    img {
        width: 340px;
        height: auto;
    }
 
    .panel {
        width: 340px;
        font-size: 14px;
        padding: 12px;
    }

    .panel2 {
        width: 340px;
        font-size: 14px;
    }

    .term {
        width: 340px;
        font-size: 14px;
    }
}

@media screen and (max-width: 360px) {
    .Article {
        width: 300px;
    }

    img {
        width: 300px;
        height: auto;
    }

    .panel {
        width: 300px;
        font-size: 12px;
        padding: 10px;
    }

    .panel2 {
        width: 300px;
        font-size: 12px;
    }

    .term {
        width: 280px;
        font-size: 12px;
    }
}

