html{
    scroll-behavior: smooth;
}

.ParContent {
    margin: auto;
    margin-top: 20px;
    display: block;
    background-color: #DAF7A6;
    color: black;
    cursor: pointer;
    padding: 10px;
    width: 1040px;
    height: auto;
    border: none;
    text-align: left;
    outline: none;
    font-family: "Russo One", sans-serif;
    font-size: 24px;
    border-radius: 20px;
    margin-bottom: 10px;
}

.RevealContent, .ParContent:hover {
    background-color: #c2f562;
}

.ChildPanel {
    margin: auto;
    background-color: #eaf5d6;
    display: none;
    width: 1000px;
    padding-bottom: 1px;
    margin-top: 0px;
    margin-bottom: 10px;
    border-radius: 10px;
}

.ChildPanel ul li a{
    color: inherit;
}

.ChildPanel ul li a:hover{
    color: royalblue;
}

@media screen and (max-width: 1100px) {
    .ParContent {
        width: 780px;
    }

    .ChildPanel {
        width: 740px;
        height: auto;
    }
}

@media screen and (max-width: 820px) {
    .ParContent {
        width: 580px;
        font-size: 18px
    }

    .ChildPanel {
        width: 540px;
        font-size: 18px;
    }
}

@media screen and (max-width: 620px) {
    .ParContent {
        width: 470px;
        font-size: 18px;
    }

    .ChildPanel {
        width: 340px;
        font-size: 16px;
    }
}

@media screen and (max-width: 500px) {
    .ParContent {
        width: 360px;
        font-size: 14px;
    }

    .ChildPanel {
        width: 310px;
        font-size: 14px;
    }
}

@media screen and (max-width: 380px) {
    .ParContent {
        width: 300px;
        font-size: 12px;
    }

    .ChildPanel {
        width: 260px;
        font-size: 12px;
    }
}

