html{
    scroll-behavior: smooth;
}

.ParContent {
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    display: block;
    background-color: #DAF7A6;
    color: black;
    cursor: pointer;
    padding: 10px;
    width: 1040px;
    height: auto;
    border: none;
    text-align: left;
    outline: none;
    font-family: "Russo One", sans-serif;
    font-size: 24px;
    border-radius: 20px;
}

.RevealContent, .ParContent:hover {
    background-color: #c2f562;
}

.ChildPanel {
    margin: auto;
    margin-top: 20px;
    background-color: #eaf5d6;
    display: none;
    width: 1000px;
    height: auto;
    padding-bottom: 1px;
    margin-top: 0px;
    margin-bottom: 10px;
    border-radius: 10px;
    text-align: left;
    word-break: normal;
    text-decoration: none;
    overflow: scroll;
}

.ChildPanel ul li a{
    color: inherit;
    text-decoration: none;
}

.ChildPanel ul li{
    text-decoration: none;
}

.ChildPanel ul li a:hover{
    color: royalblue;
}

.ChildPanel ul li ul {
    width: inherit;
}

@media screen and (max-width: 1080px) {
    .ParContent {
        width: 780px;
    }

    .ChildPanel {
        width: 740px;
    }
}

@media screen and (max-width: 800px) {
    .ParContent {
        width: 580px;
        font-size: 18px
    }

    .ChildPanel {
        width: 540px;
        font-size: 18px;
    }
}

@media screen and (max-width: 600px) {
    .ParContent {
        width: 380px;
        font-size: 18px;
    }

    .ChildPanel {
        width: 340px;
        font-size: 16px;
    }
}

@media screen and (max-width: 480px) {
    .ParContent {
        width: 340px;
        font-size: 14px;
    }

    .ChildPanel {
        width: 320px;
        font-size: 14px;
    }
}

@media screen and (max-width: 380px) {
    .ParContent {
        width: 90%;
        font-size: 12px;
    }

    .ChildPanel {
        width: 90%;
        font-size: 12px;
    }
}

