/* Buttons for each Core Category */
.tab {
    margin: auto;
    width: 1040px;
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
}

/*Name for each Core/Button to show description*/
.panel {
    margin: auto;
    margin-top: 20px;
    display: block;
    background-color: #eee;
    color: #444;
    cursor: pointer;
    width: 1000px;
    height: 80px;
    border: none;
    text-align: left;
    outline: none;
    font-family: "Russo One", sans-serif;
    font-size: 28px;
    margin-bottom: 10px;
}

/*Description of each Core*/
.panel2 {
    margin: auto;
    width: auto;
    background-color: transparent;
    display: none;
    height: auto;
}

/*text element for each description*/
p {
    margin: auto;
    width: 90%;
    height: auto;
    text-align: justify;
}

/*2x1 table for loomian images*/
.container {
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 20px;
    width: auto;
    height: auto;
}

/*Image for each Loomian
Total width of each image needs to be less than container*/
img {
    margin: auto;
    position: relative;
    top: 10px;
    margin-bottom: 20px;
    object-position: fill;
    width: auto;
    height: auto;
    border-radius: 5px;
    object-fit: contain;
}

.active, .panel:hover {
    background-color: #ccc;
}

/* Button element inside core category elements */
.tab button {
    background-color: inherit;
    float: left;
    border: 1px solid black;
    outline: none;
    cursor: pointer;
    font-size: 17px;
    padding: 16px 16px;
    font-family: 'Russo One', sans-serif;
}

/* Change background color of buttons on hover */
.tab button:hover {
    background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
    background-color: white;
    border-bottom: #ccc;
}

/* Style the tab content */
.tabcontent {
    margin: auto;
    width: 1040px;
    display: none;  
    border: 1px solid black;
    border-top: none;
    background-color: white;
}

/* Show the default tab content */
#OffensiveCores {
    display: grid;
}

@media screen and (max-width: 1080px){
    .Article {
        width: 760px;
    }

    .panel {
        width: 740px;
        height: 60px;
        font-size: 20px;
    }

    .panel2 {
        width: auto;
    }

    #Terminology {
        width: 760px;
    }

    .tab {
        width: auto;
    }

    .paragraph {
        width: 760px;
    }

    .tab button {
        padding: 16px 16px;
        font-size: 17px;
    }

    .tabcontent {
        width: auto;
    }

    img {
        height: 250px;
        width: auto;
    }

    .container {
        width: auto;
        height: auto;
    }
}

@media screen and (max-width: 800px){
    .Article {
        width: 560px;
    }

    .panel {
        width: 540px;
        height: 60px;
        font-size: 18px;
    }

    .panel2 {
        width: auto;
    }

    #Terminology {
        width: 560px;
    }

    .tab {
        width: auto;
    }

    .paragraph {
        width: 360px;
    }

    .tab button {
        width: 100%;
    }

    .tabcontent {
        width: auto;
    }

    img {
        height: 120px;
        width: auto;
    }

    .container {
        width: auto;
        height: auto;
    }
}

@media screen and (max-width: 600px){
    .Article {
        width: 360px;
    }

    .panel {
        width: 340px;
        height: 60px;
        font-size: 16px;
    }

    .panel2 {
        width: auto;
    }

    #Terminology {
        width: 360px;
    }

    .tab {
        width: auto;
    }

    .paragraph {
        width: 360px;
    }

    .tab button {
        width: 100%;
    }

    .tabcontent {
        width: auto;
    }

    img {
        height: 120px;
        width: auto;
    }

    .container {
        width: auto;
        height: auto;
    }
}

@media screen and (max-width: 480px){
    .Article {
        width: 360px;
    }

    .panel {
        width: 340px;
        height: 60px;
        font-size: 14px;
    }

    .panel2 {
        width: auto;
    }

    #Terminology {
        width: 360px;
    }

    .tab {
        width: auto;
    }

    .paragraph {
        width: 360px;
    }

    .tab button {
        width: auto;
    }

    .tabcontent {
        width: auto;
    }

    img {
        height: 100px;
        width: auto;
    }

    .container {
        width: auto;
        height: auto;
    }
}

@media screen and (max-width: 360px){
    .Article {
        width: 300px;
    }

    .panel {
        width: 260px;
        height: 60px;
        font-size: 14px;
    }

    .panel2 {
        width: auto;
    }

    #Terminology {
        width: 300px;
    }

    .tab {
        width: 298px;
    }

    .paragraph {
        width: 300px;
    }

    .tab button {
        width: auto;
    }

    .tabcontent {
        width: 296px;
    }

    img {
        height: 100px;
        width: auto;
    }

    p {
        width: 240px;
    }
}