footer {
    margin: auto;
    border: 3px black solid;
    text-align: center;
    background-color: lightblue;
    margin-top: 20px;
}

footer a {
    text-align: center;
    text-decoration: none;
    color: #219DD7;
}

@media screen and (max-width: 1080px) {
    footer {
        font-size: 20px;
    }
}

@media screen and (max-width: 800px) {
    footer {
        font-size: 16px;
    }
}

@media screen and (max-width: 600px) {
    footer {
        font-size: 14px;
    }
}

@media screen and (max-width: 400px) {
    footer {
        font-size: 12px;
    }
}