.paragraph1{
    margin: auto;
    width: 1080px;
    height: auto;
    text-align: left;
}

table {
    margin: auto;
    border-collapse: collapse;
    width: 1080px;
    border: 2px solid black;
    display: block;
    margin-bottom: 20px;
}

th, td {
    text-align: left;
    width: auto;
}

tr:nth-child(even) {
    background-color: #D6EEEE;
}

.location {
    margin: auto;
    width: 1080px;
}

.location img {
    margin: auto;
    width: 1080px;
    height: auto;
    border: 3px solid #000000;
    border-radius: 5px;
}

.sprite {
    margin: auto;
    width: 50px;
    height: auto;
}

#footnote {
    margin: auto;
    font-size: 16px;
    width: 1080px;
}

.rows5 {
    background-color: #D6EEEE;
}

.rows6 {
    background-color: white;
}

.rows7 {
    background-color: #D6EEEE;
}

h3 {
    margin: auto;
    width: 1080px;
}

@media screen and (max-width: 1100px) {
    .paragraph1 {
        width: 780px;
    }

    .location {
        width: 780px;
        height: auto;
    }

    table {
        width: 780px;
    }

    .sprite {
        width: 40px;
    }

    .location {
        width: 780px;
    }

    .location img {
        width: 780px;
        height: auto;
    }

    h3 {
        margin: auto;
        width: 780px;
    }

    #footnote {
        width: 780px;
    }

    th, td {
        font-size: 24px;
    }
}

@media screen and (max-width: 800px) {
    .paragraph1 {
        width: 580px;
        font-size: 20px;
    }

    .location {
        width: 580px;
        height: auto;
    }

    .location img {
        width: 580px;
        height: auto;
    }

    table {
        width: 580px;
        height: auto;
        font-size: 12px;
    }

    .sprite {
        width: 40px;
    }

    #footnote {
        width: 580px;
        font-size: 12px;
    }

    h3 {
        width: 580px;
        font-size: 28px;
    }

    .location {
        width: 580px;
    }

    th, td {
        font-size: 20px;
    }
}

@media screen and (max-width: 600px) {
    .paragraph1 { 
        width: 480px;
        font-size: 18px;
    }

    .location {
        width: 480px;
        height: auto;
    }

    .location img {
        width: 480px;
        height: auto;
    }

    table {
        width: 480px;
        height: auto;
        font-size: 16px;
    }

    .sprite {
        width: 40px;
    }

    #footnote {
        width: 480px;
        font-size: 16px;
    }

    h3 {
        margin: auto;
        width: 480px;
        font-size: 20px;
    }

    th, td {
        font-size: 12px;
    }
}

@media screen and (max-width: 480px) {
    .paragraph1 {
        width: 350px;
        font-size: 16px;
    }

    .location {
        width: 350px;
        height: auto;
    }

    .location img {
        width: 350px;
        height: auto;
    }

    table {
        width: 350px;
        height: auto;
        font-size: 12px;
    }

    .sprite {
        width: 40px;
    }

    #footnote {
        width: 350px;
        font-size: 12px;
    }

    h3 {
        margin: auto;
        width: 350px;
    }

    th, td {
        font-size: 8px;
    }
}

@media screen and (max-width: 360px) {
    .paragraph1 {
        width: 300px;
        font-size: 14px;
    }

    .location {
        width: 300px;
        height: auto;
    }

    .location img {
        width: 300px;
        height: auto;
    }

    table {
        width: 300px;
        height: auto;
        font-size: 12px;
    }

    .sprite {
        width: 40px;
    }

    #footnote {
        width: 300px;
        font-size: 12px;
    }

    h3 {
        margin: auto;
        width: 300px;
    }

    th, td {
        font-size: 10px;
    }
}