table {
    margin: auto;
    border-collapse: collapse;
    width: 1020px;
    border: 2px solid black;
    display: block;
    margin-bottom: 20px;
}

th, td {
    text-align: left;
    width: auto;
}

tr:nth-child(even) {
    background-color: #D6EEEE;
}

.location {
    display: block;
    margin: auto;
    margin-bottom: 10px;
    width: 1016px;
    height: auto;
    border: 2px black solid;
    border-radius: 5px;
}

.sprite {
    margin: auto;
    width: 50px;
    height: auto;
}

#footnote {
    margin: auto;
    font-size: 16px;
    width: 1020px;
}

.rows5 {
    background-color: #D6EEEE;
}

.rows6 {
    background-color: white;
}

.rows7 {
    background-color: #D6EEEE;
}

h3 {
    margin: auto;
    width: 1080px;
}

@media screen and (max-width: 1080px) {
    .location {
        width: 780px;
        height: auto;
    }

    table {
        width: 780px;
    }

    .sprite {
        width: 50px;
    }

    .location {
        width: 776px;
    }

    h3 {
        margin: auto;
        width: 780px;
    }

    #footnote {
        width: 780px;
    }

    th, td {
        font-size: 24px;
    }
}

@media screen and (max-width: 800px) {
    .location {
        width: 576px;
    }

    table {
        width: 580px;
        height: auto;
        font-size: 12px;
    }

    .sprite {
        width: 40px;
    }

    #footnote {
        width: 580px;
        font-size: 12px;
    }

    h3 {
        width: 580px;
        font-size: 28px;
    }

    th, td {
        font-size: 20px;
    }
}

@media screen and (max-width: 600px) {
    .location {
        width: 376px;
        height: auto;
    }

    table {
        width: 380px;
        height: auto;
        font-size: 16px;
    }

    .sprite {
        width: 60px;
    }

    #footnote {
        width: 380px;
        font-size: 16px;
    }

    h3 {
        margin: auto;
        width: 380px;
        font-size: 20px;
    }

    th, td {
        font-size: 14px;
    }
}

@media screen and (max-width: 480px) {
    .location {
        width: 336px;
        height: auto;
    }

    table {
        width: 340px;
        height: auto;
        font-size: 12px;
    }

    .sprite {
        width: 50px;
    }

    #footnote {
        width: 340px;
        font-size: 14px;
    }

    h3 {
        margin: auto;
        width: 340px;
    }

    th, td {
        font-size: 12px;
    }
}

@media screen and (max-width: 360px) {
    .location {
        width: 296px;
        height: auto;
    }

    table {
        width: 300px;
        height: auto;
        font-size: 12px;
    }

    .sprite {
        width: 40px;
    }

    #footnote {
        width: 300px;
        font-size: 12px;
    }

    h3 {
        margin: auto;
        width: 300px;
    }

    th, td {
        font-size: 10px;
    }
}