.paragraph1{
    margin: auto;
    width: 1200px;
    height: auto;
}

table {
    border-collapse: collapse;
    width: 1200px;
    border: 2px solid black;
    display: block;
}

th, td {
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #D6EEEE;
}

#location{
    margin: auto;
    width: 1200px;
    height: auto;
    border: 3px solid #000000;
    border-radius: 5px;
}


#sprite{
    margin: auto;
    width: 50px;
    height: auto;
}

#footnote{
    font-size: 16px;
}

.rows5{
    background-color: #D6EEEE;
}

.rows6{
    background-color: white;
}

.rows7{
    background-color: #D6EEEE;
}

@media screen and (max-width: 1080px) {
    .paragraph1{
        margin: 0;
        width: 800px;
        overflow-x:auto
    }

    #location{
        margin: 0;
        width: 800px;
        display: none;
    }

    .table{
        width: 800px;
        font-size: 2px
    }

    #sprite{
        width: 40px;
    }

}

@media screen and (max-width: 800px) {
    .paragraph1{
        width: 400px;
    }

    #location{
        width: 400px;
        display: none;
    }

    .table{
        width: 400px;
        height: auto;
        font-size: xx-small;
    }

    #sprite{
        width: 40px;
    }
}

@media screen and (max-width: 600px) {
    .paragraph1{
        width: 200px;
    }

    #location{
        width: 200px;
        display: none;
    }

    .table{
        width: 200px;
        height: auto;
        font-size: xx-small;
    }

    #sprite{
        width: 40px;
    }
}