.paragraph1{
    margin: auto;
    width: 1080px;
    height: auto;
    text-align: justify;
}

#location{
    margin: auto;
    display: block;
    width: 1080px;
    height: auto;
    border: 3px solid #000000;
    border-radius: 5px;
    margin-top: 10px;
}

#sprite{
    margin: auto;
    width: 50px;
    height: auto;
}

table {
    border-collapse: collapse;
    width: 1080px;
    border: 2px solid black;
    display: block;
}

th, td {
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #D6EEEE;
}

@media screen and (max-width: 1080px) {
    .paragraph1{
        width: 800px;
    }

    #location{
        margin: auto;
        width: 800px;
    }
    
    table{
        width: 800px;
    }


}


@media screen and (max-width: 800px) {
    .paragraph1{
        width: 400px;
        font-size: 16px;
    }

    #location{
        width: 400px;
    }

    table{
        width: 400px;
    }
}

@media screen and (max-width: 400px) {
    .paragraph1{
        width: 350px;
        font-size: 16px;
    }

    #location{
        width: 350px;
    }

    table{
        width: 350px;
        font-size: 12px;
    }
}