.grid-container {
  width: 1080px;
  margin: auto;
  display: grid;
  grid-template-columns: 300px 1fr;
  align-items: start;
  margin-bottom: 10px;
  border: 3px solid black;
}

.grid-item {
  background-color: inherit;
  border: 1px solid black;
  height: 300px;
}

.square {
  width: fit-content;
  height: 170px;
  background-color: #eee;
  position: relative;
}

.thumbnail {
  width: 300px;
  height: auto;
}

.description {
  height: 170px;
  width: 780px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.title {
  font-size: 24px;
  font-weight: bold;
  margin: 0;
  text-align: left;
}

.summary {
  margin: 10px 0 0 0;
  font-size: 18px;
}

main a{
  text-decoration: none;
}

main a:visited{
  color: black;
}

main a:link{
  color: black;
}

.grid-container:hover{
  background-color: gray;
}

div.title
div.summary{
  margin-left: 20px;
}

@media only screen and (max-width: 1200px) {
  .grid-container {
      width: 300px;
      grid-template-columns: 1fr;
  }

  .grid-item {
      background-color: #fff;
      border: 1px solid #ddd;
      height: auto;
  }

  .description {
    height: 170px;
    width: 300px;
  }

  .description h1{
    width: 300px;
    font-size: 20px;
    overflow-wrap: normal;
  }
  
}