.Introduction{
    position: relative;
    top: 20px;
    margin: auto;
    width: 1080px;
    margin-bottom: 50px;
}

img{
    margin: auto;
    width: 1080px;
    height: auto;
    border: 3px solid black;
    border-radius: 5px;
    display: block;
}

@media screen and (max-width: 1080px) {
    .Introduction{
        width: 600px;
    }

    img{
        width: 600px;
    }
}

@media screen and (max-width: 600px) {
    .Introduction{
        width: 400px;
        font-size: 12px;
    }

    img{
        width: 400px;
    }
}

@media screen and (max-width: 400px) {
    .Introduction{
        width: 275px;
    }

    img{
        width: 275px;
    }
}